<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-websocket-chat:war exploded">
    <output-path>$PROJECT_DIR$/target/sample-chat</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-websocket-chat" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-websocket:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-messaging:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:4.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:4.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:4.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.7.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.7.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.7.0" />
          <element id="library" level="project" name="Maven: org.webjars:sockjs-client:0.3.4" />
          <element id="library" level="project" name="Maven: org.webjars:bootstrap:3.3.5" />
          <element id="library" level="project" name="Maven: org.webjars:jquery:1.11.1" />
          <element id="library" level="project" name="Maven: org.webjars:webjars-locator:0.30" />
          <element id="library" level="project" name="Maven: org.webjars:webjars-locator-core:0.30" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.7" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-compress:1.9" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.4" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/sample-chat/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-websocket-chat/web/Web" />
    </root>
  </artifact>
</component>