<component name="ArtifactManager">
  <artifact type="war" name="spring-websocket-chat:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="sample-chat.war">
      <element id="artifact" artifact-name="spring-websocket-chat:war exploded" />
    </root>
  </artifact>
</component>